
.card{
    width: 230px;
    min-height: 400px;
    background-color:#e6f1ef;
    border-radius: 15px;
    margin: 20px;
}

.items{
    display: flex;
    gap:1rem;
    margin-top: 0.5rem;
}

.display-image{
   display: flex;
   justify-content: center;
   flex: 1 1 10px;
   margin-top: 15px;
   
}
.display-image > img{
    border-radius: 15px;
}
.name{
    font-size: 2rem;

}
.descriptions{
    margin: 15px;
}